<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OtsimoClientID</key>
	<string>ZaIthLAoobBYiJc-eH7PG_z5RWKok1ipjqF7cjkIc74=@otsimochild</string>
	<key>OtsimoClusterDiscoveryURL</key>
	<string>https://services.otsimo.xyz:30862</string>
	<key>OtsimoEnvironment</key>
	<string>staging</string>
	<key>OtsimoClientSecret</key>
	<string>we_are_hiring_otsimo_com</string>
</dict>
</plist>
